# local, prod
APP_ENV=local

# debug, info, warn, error
LOG_LEVEL=info

HTTP_HOST=0.0.0.0
HTTP_PORT=8080
HTTP_READ_HEADER_TIMEOUT=5s
HTTP_READ_TIMEOUT=10s
HTTP_WRITE_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=60s

GRACEFUL_SHUTDOWN_TIMEOUT=30s

POSTGRES_DSN=postgres://parterre:parterre@127.0.0.1:5432/parterre?sslmode=disable