# prod, local
APP_ENV=local

# debug, info, warn, error
LOG_LEVEL=info

SHUTDOWN_TIMEOUT=30s

HTTP_PORT=8080
HTTP_IDLE_TIMEOUT=1m
HTTP_READY_TIMEOUT=2s

POSTGRES_DSN="postgres://parterre:parterre@127.0.0.1:5432/parterre?sslmode=disable"
POSTGRES_MAX_CONNS=6
